.main-navigation.toggled .main-nav {
	flex-basis: 100%;
}

button.menu-toggle {
	background-color: transparent;
	border: 0;
	flex-grow: 1;
	order: -10;
}

.nav-search-enabled .main-navigation .menu-toggle {
	text-align: left;
}

.mobile-bar-items {
	display: none;
	z-index: 22;
}

.mobile-bar-items a {
	display: inline-block;
}

.mobile-bar-items .search-item.active {
	transition: opacity 300ms ease-in-out;
}

.main-navigation.toggled ul ul {
	transition: 0s;
}

.dropdown-hover .main-navigation.toggled ul li:hover > ul,
.dropdown-hover .main-navigation.toggled ul li.sfHover > ul {
	transition-delay: 0s;
}

.toggled .menu-item-has-children .dropdown-menu-toggle {
	padding-left: 20px;
}

.main-navigation.toggled ul ul {
	visibility: hidden;
}

.main-navigation.toggled ul ul.toggled-on {
	visibility: visible;
}

.main-navigation.toggled .main-nav ul ul.toggled-on {
	position: relative;
	top: 0;
	left: auto !important;
	right: auto !important;
	width: 100%;
	pointer-events: auto;
	height: auto;
	opacity: 1;
	display: block;
}

.main-navigation.toggled .main-nav li {
	width: 100%;
	text-align: left;
}

.main-navigation.toggled .dropdown-menu-toggle:before {
	content: "\f107";
}

.main-navigation.toggled .sfHover > a .dropdown-menu-toggle:before {
	content: "\f106";
}

.main-navigation.toggled .menu-item-has-children .dropdown-menu-toggle {
	float: right;
}

.main-navigation.toggled .menu li.search-item {
	display: none;
}

@media (max-width: 768px) {
	.hide-on-mobile {
		display: none !important;
	}

	/* Header */
	.inside-header {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}

	.nav-float-right #site-navigation,
	.nav-float-left #site-navigation {
		margin-left: 0;
		margin-right: 0;
		width: 100%;
		margin-top: 1.5em;
	}

	.site-header .header-widget {
		margin-top: 1.5em;
		margin-left: auto;
		margin-right: auto;
	}

	.nav-float-left .site-logo,
	.nav-float-left .site-branding,
	.nav-float-left .header-widget {
		-webkit-box-ordinal-group: initial;
		-ms-flex-order: initial;
		order: initial;
	}

	.site-logo + .site-branding {
		margin: 1.5em 0 0;
	}

	.header-widget {
		float: none;
		max-width: 100%;
		text-align: center;
	}

	/* Top bar */
	.top-bar .inside-top-bar > .widget {
		-webkit-box-ordinal-group: 2;
		-ms-flex-order: 1;
		order: 1;
		margin: 0 10px;
	}

	.top-bar .inside-top-bar > .widget:first-child {
		margin-left: auto;
	}

	.top-bar .inside-top-bar > .widget:last-child {
		margin-right: auto;
	}

	.top-bar .widget_nav_menu li {
		float: none;
		display: inline-block;
		padding: 5px 0;
	}

	/* Site content area */
	.site-content {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}

	#right-sidebar.sidebar,
	#left-sidebar.sidebar {
		width: auto;
		-webkit-box-ordinal-group: initial;
		-ms-flex-order: initial;
		order: initial;
	}

	.one-container .sidebar {
		margin-top: 40px;
	}

	.separate-containers #left-sidebar + #right-sidebar .inside-right-sidebar {
		margin-top: 0;
	}

	.both-right.separate-containers .inside-left-sidebar,
	.both-left.separate-containers .inside-left-sidebar,
	.both-right.separate-containers .inside-right-sidebar,
	.both-left.separate-containers .inside-right-sidebar {
		margin-right: 0;
		margin-left: 0;
	}

	#main {
		margin-left: 0;
		margin-right: 0;
	}

	body:not(.no-sidebar) #main {
		margin-bottom: 0;
	}

	/* Footer widgets */
	.inside-footer-widgets {
		-ms-grid-columns: 100%;
		grid-template-columns: 100%;
	}

	.site-footer .footer-widgets .footer-widgets-container .inside-footer-widgets {
		margin: 0;
	}

	.site-footer .footer-widgets .footer-widgets-container .inner-padding {
		padding: 0;
	}

	/* Start mobile navigation */
	.inside-navigation {
		display: flex;
		flex-wrap: wrap;
	}

	.main-navigation .menu-toggle,
	.main-navigation .mobile-bar-items,
	.sidebar-nav-mobile:not(#sticky-placeholder) {
		display: block;
	}

	.main-navigation ul,
	.gen-sidebar-nav,
	.main-navigation:not(.slideout-navigation):not(.toggled) .main-nav > ul {
		display: none;
	}
	/* End mobile navigation */

	/* Footer bar */
	.footer-bar-active .inside-site-info {
		display: block;
	}

	.footer-bar-active .footer-bar {
		margin-bottom: 10px;
	}

	.footer-bar .widget_nav_menu li {
		float: none;
		display: inline-block;
		padding: 5px 0;
	}

	.site-info {
		padding-left: 10px;
		padding-right: 10px;
	}

	.site-info {
		text-align: center;
	}

	/* Misc */
	a, body, button, input, select, textarea {
		-webkit-transition: all 0s ease-in-out;
		-moz-transition: all 0s ease-in-out;
		-o-transition: all 0s ease-in-out;
		transition: all 0s ease-in-out;
	}

	.comment .children {
		padding-left: 10px;
		margin-left: 0;
	}

	.entry-meta {
		font-size: inherit;
	}

	.alignleft,
	.alignright {
		float: none;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	.post-image-aligned-left .post-image,
	.post-image-aligned-right .post-image {
		float: none;
		margin: 2em 0;
		text-align: center;
	}
}

@media (min-width: 769px) and (max-width: 1024px) {
	.hide-on-tablet {
		display: none !important;
	}
}

@media (min-width: 1025px) {
	.hide-on-desktop {
		display: none !important;
	}
}
